<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.todolistapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_title_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.todolistapp.TodoActivity"
            android:label="@string/app_title_todo" >
			<intent-filter >
			</intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.todolistapp.ArchiveActivity"
            android:label="@string/app_title_archived" >
			<intent-filter >
			</intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.todolistapp.EmailActivity"
            android:label="@string/app_title_email" >
			<intent-filter >
			</intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.todolistapp.EmailTodoActivity"
            android:label="@string/app_title_email_todo" >
			<intent-filter >
			</intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.todolistapp.EmailArchActivity"
            android:label="@string/app_title_email_arch" >
			<intent-filter >
			</intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.todolistapp.EmailAllActivity"
            android:label="@string/app_title_email_all" >
			<intent-filter >
			</intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.todolistapp.SummaryActivity"
            android:label="@string/app_title_summary" >
			<intent-filter >
			</intent-filter>
        </activity>
    </application>

</manifest>
